@model Domain.Diffie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Diffie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateKeyA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivateKeyA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateKeyB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivateKeyB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModulusP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModulusP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharedKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharedKey)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
