@model IEnumerable<Domain.Diffie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrivateKeyA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivateKeyB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModulusP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharedKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateKeyA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivateKeyB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModulusP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedKey)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
